:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #52057b;
  --pink: #e14594;
  --red: #dc3545;
  --orange: #d65a31;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #4ecca3;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #3c4f65;
  --gray-dark: #343a40;
  --primary: #bc6ff1;
  --secondary: #892cdc;
  --success: #a7d129;
  --info: #acdbdf;
  --warning: #ffd700;
  --danger: #dc3545;
  --light: #eeeeee;
  --dark: #000000;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.static-background {
  background-color: #8ec5fc;
  background-image: linear-gradient(90deg, #8ec5fc 0%, #e0c3fc 100%);
}

#container {
  min-height: calc(100vh - 70px);
}

#footer {
  height: 100px;
  margin-top: -50px;
}

.btn-circle {
  border-radius: 50%;
}

hr {
  width: 100%;
  text-align: left;
  margin-left: 0;
}

.btn-clear {
  background-color: transparent;
  border: none;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.clear-card {
  border: none;
  background-color: transparent;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
  margin: auto;
  color: white;
  position: relative;
}

.track-clear-card {
  display: flex;
  justify-content: center;
  flex-direction: column;

  min-height: 70vh;
  max-width: 550px;
  @extend .clear-card;
}

.btn-pink {
  font-weight: 900;
  border-radius: 0px;
  border: none;
  padding: 1em;
  background-color: #e0c3fc;
  &:hover {
    background-color: #ce99ff;
  }
  &:active,
  &.active,
  &:focus,
  &.focus {
    background-color: #ce99ff !important;
  }
}

svg {
  fill: white;
}
